table, tr, th, td{
    border: 1px, solid black;
    border-collapse: collapse;
}
.sabores{
    color:blue;
    background-color:orange;
}

table{
    margin-left: 30%;
    margin-right: 30%;
}
