footer
{
    background-color: bisque; /*cor de fundo*/
}

article{
    border: 3px solid red;
}

#fotos{
    background-color: aqua;
}

#videos{
    background-color: red;
}
#videos video{
    width:auto;
}

#músicas{
    background-color: blue;
}
header nav ul{
    list-style-type: none;
}
nav ul li{
    display:inline;
    border: 1px solid red;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

nav a:hover{
    text-decoration: none;
}
nav a:hover{
    background-color:darkred;
}



